name: shadow_log_example
description: Example app demonstrating shadow_log usage.

publish_to: 'none'

version: 0.1.0

environment:
  sdk: ^3.10.4
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  shadow_log:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
